<div class="text-center">
  <h1>Cryptocurrencies</h1>
</div>

<div class="col-sm-12">
  <button class="btn btn-primary float-right" (click)="getCryptoCurrencies()">Refresh</button>
</div>

<div class="table-responsive">
  <table class="table table--flixbus">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Symbol</th>
        <th scope="col">Price</th>
        <th scope="col">24 hour change</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngIf="(cryptocurrencyState | async).cryptocurrencies.length > 0">
      <tr *ngFor="let cryptocurrency of (cryptocurrencyState  | async).cryptocurrencies; let i = index" (dblclick)="goToCryptocurrency(cryptocurrency.id)" class="station-row">
        <th scope="row">{{ cryptocurrency.rank }}</th>
        <td>{{ cryptocurrency.name }}</td>
        <td>{{ cryptocurrency.symbol }}</td>
        <td>{{ cryptocurrency.price | number : '1.2-2'}} {{ (settingsState | async).selectedCurrency }}</td>
        <td>{{ cryptocurrency.percentChange24h | number : '1.2-2' }} %</td>
        <td>
          <i class="fa fa-info-circle cursor-pointer" (click)="goToCryptocurrency(cryptocurrency.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="(cryptocurrencyState | async).cryptocurrencies.length === 0">No Cryptocurrencies yet!</p>
</div>
