<div class="text-center">
  <h1>{{ (cryptocurrencyState | async).cryptocurrencyDetails.name }}</h1>
</div>

<div class="col-sm-12">
  <button class="btn btn-primary float-right" (click)="getCryptocurrency(id)">Refresh</button>
</div>

<p>&nbsp;</p>

<div class="col-sm-6">
  <span class="bold">Rank</span><br>
  <span>{{ (cryptocurrencyState | async).cryptocurrencyDetails.rank }}</span><br><br>

  <span class="bold">Name</span><br>
  <span>{{ (cryptocurrencyState | async).cryptocurrencyDetails.name }}</span><br><br>

  <span class="bold">Symbol</span><br>
  <span>{{ (cryptocurrencyState | async).cryptocurrencyDetails.symbol }}</span><br><br>

  <span class="bold">Price</span><br>
  <span>{{ (cryptocurrencyState | async).cryptocurrencyDetails.price | number : '1.2-2' }} {{ (settingsState | async).selectedCurrency }}</span><br><br>

  <span class="bold">24h Volume</span><br>
  <span>{{ (cryptocurrencyState | async).cryptocurrencyDetails.volume24 | number : '1.2-2'}}</span><br><br>

  <span class="bold">Market cap</span><br>
  <span>{{ (cryptocurrencyState | async).cryptocurrencyDetails.marketCap | number : '1.2-2'}}</span><br><br>

  <span class="bold">1h Change</span><br>
  <span>{{ (cryptocurrencyState | async).cryptocurrencyDetails.percentChange1h | number : '1.2-2'}} %</span><br><br>

  <span class="bold">24h Change</span><br>
  <span>{{ (cryptocurrencyState | async).cryptocurrencyDetails.percentChange24h | number : '1.2-2'}} %</span><br><br>

  <span class="bold">7d Change</span><br>
  <span>{{ (cryptocurrencyState | async).cryptocurrencyDetails.percentChange7d | number : '1.2-2'}} %</span><br><br>

  <span class="bold">Available Supply</span><br>
  <span>{{ (cryptocurrencyState | async).cryptocurrencyDetails.maxSupply }}</span><br><br>

  <span class="bold">Total Supply</span><br>
  <span>{{ (cryptocurrencyState | async).cryptocurrencyDetails.totalSupply }}</span><br><br>

</div>
